# Import Labraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

# Connection To Database

In [3]:
conn = sqlite3.connect("Upi_Digital_Payment.db")
cursor = conn.cursor()

# Load Dataset

In [4]:
df = pd.read_csv("upi_digital_payment_advanced.csv")
df.to_sql("Digital_Payment",conn,if_exists="append",index=False)

5000

# Dataset Features

In [7]:
print("Size of Dataframe:\n",df.size)
print("Shape of Dataframe:\n",df.shape)
print("info of Dataframe:\n",df.info())
print("Description of Dataframe:\n",df.describe())
print(df.columns)

Size of Dataframe:
 45000
Shape of Dataframe:
 (5000, 9)
<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    5000 non-null   str
 1   user_id           5000 non-null   str
 2   city              5000 non-null   str
 3   transaction_date  5000 non-null   str
 4   amount            5000 non-null   float64
 5   payment_app       5000 non-null   str
 6   transaction_type  5000 non-null   str
 7   device_type       5000 non-null   str
 8   is_fraud          5000 non-null   int64
dtypes: float64(1), int64(1), str(7)
memory usage: 351.7 KB
info of Dataframe:
 None
Description of Dataframe:
              amount     is_fraud
count   5000.000000  5000.000000
mean    1995.619530     0.033000
std     2029.263919     0.178654
min        0.670000     0.000000
25%      557.285000     0.000000
50%     1363.480000     0.000000
75%     2796.195000     0.000000
max    16600.650000     1.000000
Index(['transaction_id', 'user_id', 'city', 'transaction_date', 'amount',
       'payment_app', 'transaction_type', 'device_type', 'is_fraud'],
      dtype='str')

# Dataset Cleaning

In [8]:
print("Null Values From Dataset:\n",df.isna().sum())
print("Duplicate Values From Dateset:",df.duplicated().sum())

Null Values From Dataset:
 transaction_id      0
user_id             0
city                0
transaction_date    0
amount              0
payment_app         0
transaction_type    0
device_type         0
is_fraud            0
dtype: int64
Duplicate Values From Dateset: 0

# Check Dataload In Created Table

In [10]:
query = "PRAGMA table_info(Digital_Payment)"
info = pd.read_sql(query,conn)
print(info)

   cid              name     type  notnull dflt_value  pk
0    0    transaction_id     TEXT        0       None   0
1    1           user_id     TEXT        0       None   0
2    2              city     TEXT        0       None   0
3    3  transaction_date     TEXT        0       None   0
4    4            amount     REAL        0       None   0
5    5       payment_app     TEXT        0       None   0
6    6  transaction_type     TEXT        0       None   0
7    7       device_type     TEXT        0       None   0
8    8          is_fraud  INTEGER        0       None   0

# Fraud Via Transaction Type

In [9]:
query = """SELECT transaction_type,AVG(is_fraud)
FROM Digital_Payment
GROUP BY transaction_type
ORDER BY AVG(is_fraud) DESC
LIMIT 5"""

top_transactiontype_fraud = pd.read_sql(query,conn)
print(top_transactiontype_fraud)

  transaction_type  AVG(is_fraud)
0              P2P       0.036697
1     Bill Payment       0.032680
2         Recharge       0.032382
3              P2M       0.030469